.root {
    -fx-background-color: #e5d2b8 ; /* Dark blue background */
    -fx-background-image: url("book.png");
    -fx-background-size: cover; /* Adjust as needed */
    -fx-background-position: center; /* Adjust as needed */
    -fx-background-repeat: repeat; /* Adjust as needed */
}

.button {
    -fx-background-color: #673147; /* Dark blue button background */
    -fx-text-fill: white; /* White text color */
    -fx-font-size: 18pt; /* Font size */
}



